# Node modules
frontend/node_modules
backend/node_modules

# React build output
frontend/dist

# Environment variables
.env

# Firebase Admin credentials (SECURITY RISK)
backend/serviceAccountKey.json